<div id="video-area">
  <video id="my-video" controls loop>
   <source src="0119-tail-1280.mp4" type="video/mp4">
  </video>
</div>

<style>
#video-area {
  display: block;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
  width: 100%;
  height: auto;
}
video {
  width: 100%;
}
</style>
